{% extends "admin/change_list.html" %}

{% block result_list %}
    <style>
      .wizard-btn { color: #fff; background: #19b23b; border-radius: 5px; padding: 3px 10px; text-decoration: none; }
      .wizard-btn:hover { background: #148f2c; }
    </style>
    <table id="result_list">
      <thead>
        <tr>
          {% for header in cl.result_headers %}
            <th{% if header.class_attrib %} {{ header.class_attrib }}{% endif %}>{{ header.text|safe }}</th>
          {% endfor %}
          <th>Wizard</th>
        </tr>
      </thead>
      <tbody>
        {% for result in cl.result_list %}
          <tr class="{% cycle 'row1' 'row2' %}">
            {% for item in result.items %}
              <td{% if item.class_attrib %} {{ item.class_attrib }}{% endif %}>{{ item.text|safe }}</td>
            {% endfor %}
            <td>
                <a href="{% url 'admin:clasificacion-wizard' result.pk %}" class="wizard-btn">
                    Lanzar wizard
                </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
